.biography {
  margin: 0 20px 40px 20px;
  header {
    color: $colour_primary;

    .faux_column {
      padding: $spacing_gutter 0;
      display: flex;
      flex-direction: column;

      > * {
        // flex-basis: auto;
        // flex-shrink: 1;
        font-size: 1.5rem;
        line-height: 1.1;
        margin: 0;
        display: inline-block;
      }
    }

    .heading {
      & + p {
        color: $colour_primary;
      }
    }
  }

  figure {
    margin-bottom: 20px;
    max-width: 300px;
    overflow: hidden;
    img {
      border-radius: 20px;
    }
  }
}

.biography_content {
}

@media (min-width: 640px) {
  .biography {
    overflow: hidden;
    &>.faux_column {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    > header {
      margin: 0;
      .faux_column {
        flex-direction: row;
      }
    }

    .heading {
      & + p {
        border-left: $colour_primary solid 1px;
        padding-left: 1rem;
        margin-left: 1rem;
        color: $colour_primary;
      }
    }


    figure {
      float: left;
      max-width: 300px;
      width: 40%;
      order: 0;
    }
  }
  .biography_content {
    margin-top: -0.3em; // Align with image
  }
}

@media (min-width: 900px) {
  .biography > .faux_column {
    gap: 40px;
  }
  .biography > header .faux_column {
    margin-bottom: 10px;
  }
}