.media_block_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  margin: 0 auto;
  padding: $spacing_gutter 0 $spacing_gutter * 3 0;
  max-width: $width_faux_column;

  @media (min-width: 640px) {
    padding: $spacing_gutter * 3 $spacing_gutter;
    gap: 60px;

  }

}
