.media_block_list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: $width_faux_column;

  > li + li {
    margin-top: $spacing_gutter * 2;
  }

  @media (min-width: 640px) {
    padding: $spacing_gutter;
  }

  @media (min-width: $breakpoint_faux_column) {
    padding: $spacing_gutter 0;
  }
}
