.product_sidebar {
  width: 100%;

  form {
    margin-block-start: 1rem;
  }
  picture img {
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
  }
  li img {
    border-radius: 5px;
    
  }
}

@media (min-width: 800px) {
  .product_sidebar {
    max-width: 20em;
    // min-inline-size: 300px;
  }
}
