.product_page_content {
  & blockquote {
    margin-inline-start: 1rem;
    font-style: italic;

    > :first-child {
      &::before {
        content: '“';
      }
    }

    > :last-child {
      &::after {
        content: '”';
      }
    }
  }
}

@media (min-width: 800px) {
  .product_page_content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
  }

  .product_sidebar {
    max-inline-size: 300px;
  }
}
