.product_info {
  margin-block-start: 2rem;
  flex-grow: 1;

  > div > dl {
    display: table;
    margin-block-end: 1rem;

    dt {
      font-weight: 700;
      padding-inline-end: 1rem;

    }

    dd {
      margin: 0;
    }

    > div {
      display: table-row;

      > * {
        display: table-cell;
      }
    }
  }
}

.product_info_section {
  margin: 2rem 0;
  display: block;

  > summary {
    font-size: 1.5rem;
    list-style-type: '';
    margin-block-end: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block-end: 0.25rem;
    border-block-end: 1px solid #ccc;

    &::after {
      content: "+";
      display: block;
      inline-size: 1rem;
      block-size: 1rem;
      padding: 0.125rem;
      text-align: center;
      line-height: 1rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 50%;
      margin-inline-start: 1rem;
      font-weight: 400;
      color: $colour_orange_highlight;
      transition-property: transform;
      transition-duration: 0.3s
    }
  }
  &[open] {
    > summary::after {
      transform: rotate(45deg);
    }
  }
}
