<header class="masthead">


  <% if content_for? :page_masthead_image %>
      <div class="masthead_content" style="background-image: url(<%= yield_content :page_masthead_image %>?fm=jpg&fl=progressive&q=70&w=1280)">
  <% else %>
      <div class="masthead_content">
  <% end %>




    <% if content_for? :page_heading %>
      <h1 class="heading heading_page"><%= yield_content :page_heading %></h1>
    <% end %>
    <% if content_for? :page_masthead_text %>
      <div><%= yield_content :page_masthead_text %></div>
    <% end %>
  </div>


  <% if content_for? :page_intro %>
    <div class="page_intro">
      <%= yield_content :page_intro %>
    </div>
  <% end %>
</header>
