
<% if products && products.count > 0 %>
<section class="product-cards">
  <h2>Our Products</h2>
  <div class="product-cards__grid">
  <% products.each do |p_id, prod| %>
    <%= partial 'partials/product_card', locals: { product: prod.blank? ? p_id : prod } %>
  <% end %>
  </div>
</section>
<% end %>
