<footer>
  <div class="faux_column">
    <h2><%= partial 'partials/content_area', locals: {slug: 'footer-heading'} %></h2>
    <%= partial 'partials/pre-defined/contact_items' %>
  </div>
  <div class="faux_column fine_print">
    <%= partial 'partials/content_area', locals: {slug: 'footer-footnote'} %>
  </div>
</footer>
