<header class="site-nav">
  <div>
    <a class="logo" href="<%= config[:base_url] %>">
      <svg class="logo_queen_crown" focusable="false">
        <use href="#logo_queen_crown"/>
      </svg>
      <svg class="logotype" focusable="false">
       <use href="#logotype"/>
    </svg>
    </a>
    <input type="checkbox" id="mobile-menu-state">
    <%= partial 'partials/main_menu' %>
  
</header>
