<header class="site-nav">
  <h1>
    <a href="<%= config[:base_url] %>">
      <svg focusable="false">
        <use xlink:href="#logo_queen_crown"/>
      </svg>
      <svg focusable="false">
       <use xlink:href="#logotype"/>
    </svg>
    </a>
  </h1>
    <%= partial 'partials/main_menu' %>
</header>
