<section class="product-cards">
  <h2>Our Products</h2>
  <div class="product-cards__grid">
      <div class="product-card">
        <img src="/img/icon_cell.svg">
        <h3>Queen cells</h3>
        <p>Additional text that is no longer than three lines in length, extra words.</p>
        <a class="product-card__link" href="/products/queen-cells">More Info</a>
      </div>
    <div class="product-card">
      <img src="/img/icon_mated.svg">
      <h3>Mated queen bees</h3>
      <p>Additional text that is no longer than three lines in length, extra words. </p>
      <a class="product-card__link" href="/products/queen-cells">More Info</a>
    </div>
    <div class="product-card">
      <img src="/img/icon_instrument.svg">
      <h3>Instrumentally inseminated</h3>
      <p>Additional text that is no longer than three lines in length, extra words. </p>
      <a class="product-card__link" href="/products/queen-cells">More Info</a>
    </div>
  </div>
  
</section>