<header>
  <h1>
    <a href="<%= config[:base_url] %>">
      <svg focusable="false" fill="#ff7f00">
        <use xlink:href="#logo_queen_crown"/>
      </svg>
      <%= data.site.name %>
    </a>
  </h1>
</header>
