<footer>
  <div class="faux_column">
    <h2>Get in touch</h2>
    <p><%= partial 'partials/link_phone' %></p>
    <p><%= partial 'partials/link_email' %></p>
  </div>
  <div class="faux_column fine_print">
    <p>Images courtesy of Wikipedia, Casey Upchurch, and <a href="https://www.momentsoflight.nz/">Bob Zuur</a></p>
  </div>
</footer>
