<header class="site-nav">
  <h1>
    <a href="<%= config[:base_url] %>">
      <svg focusable="false" fill="#ff7f00">
        <use xlink:href="#logo_queen_crown"/>
      </svg>
    </a>
  </h1>
    <%= partial 'partials/main_menu' %>
</header>
