<section class="product-cards">
  <h2>Our Products</h2>
  <div class="product-cards__grid">
      <div class="product-card">
        <img src="/img/icon_cell.svg">
        <h3>Queen cells</h3>
        <p>Additional text that is no longer than three lines in length, extra words.</p>
        <div class="product-card__footer">
          <a href="/products/queen-cells">More Info</a>
        </div>
      </div>
    <div class="product-card">
      <img src="/img/icon_mated.svg">
      <h3>Mated queen bees</h3>
      <p>Additional text that is no longer than three lines in length, extra words. </p>
      <div class="product-card__footer">
        <a href="/products/mated-queen-bees">More Info</a>
      </div>
    </div>
    <div class="product-card">
      <img src="/img/icon_instrument.svg">
      <h3>Instrumentally inseminated</h3>
      <p>Additional text that is no longer than three lines in length, extra words. </p>
      <div class="product-card__footer">
        <a href="/products/instrumentally-inseminated-queen-bees">More Info</a>
      </div>
    </div>
    <div class="product-card">
      <img src="/img/icon_virgin.svg">
      <h3>Virgin queen bees</h3>
      <p>Additional text that is no longer than three lines in length, extra words. </p>
      <div class="product-card__footer">
        <a href="/products/virgin-queen-bees">More Info</a>
      </div>
    </div>
    <div class="product-card">
      <img src="/img/icon_proven.svg">
      <h3>Proven queen bees</h3>
      <p>Additional text that is no longer than three lines in length, extra words. </p>
      <div class="product-card__footer">
        <a href="#">More Info</a>
      </div>
    </div>
    <div class="product-card">
      <img src="/img/icon_winter.svg">
      <h3>Overwintered queen bees</h3>
      <p>Additional text that is no longer than three lines in length, extra words. </>
      <div class="product-card__footer">
        <a href="#">More Info</a>
      </div>
    </div>
  </div>
  
</section>