<header class="site-nav">
  <div>
    <a href="<%= config[:base_url] %>">
      <svg class="logo_queen_crown" focusable="false">
        <use xlink:href="#logo_queen_crown"/>
      </svg>
      <svg class="logotype" focusable="false">
       <use xlink:href="#logotype"/>
    </svg>
    </a>
    <%= partial 'partials/main_menu' %>
  </div>
</header>
