<nav>
  <h2>Menu</h2>
  <ul>
    <li id="nav_home">
      <% if current_page.url == '/' %>
        <strong>
          <svg viewBox="0 0 512 512">
            <use xlink:href="#icon_home"/>
          </svg>
          <span>Home</span>
        </strong>
      <% else %>
        <a href="<%= config[:base_url] %>">
          <svg viewBox="0 0 512 512">
            <use xlink:href="#icon_home"/>
          </svg>
          <span>Home</span>
        </a>
      <% end %>
    </li>
    <% get_top_level_menu_items().each do |page_id, page| %>
      <li>
        <% if page.url == current_page.url.parameterize %>
        <strong><%= page.page_name %></strong>
        <% else %>
        <a href="<%= config[:base_url] + page.url %>"><%= page.page_name %></a>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
