<nav>
  <h2>Menu</h2>
  <input type="checkbox" id="menu_checkbox">
  <label for="menu_checkbox">
    <svg focusable="false">
      <use xlink:href="#icon_menu"/>
    </svg>
    Menu
  </label>
  <ul id="menu">
    <% get_top_level_menu_items().each do |page| %>
      <li>
        <% if page.url == current_page.url.parameterize %>
        <strong><%= page.page_name %></strong>
        <% else %>
        <a href="<%= config[:base_url] + page.url %>"><%= page.page_name %></a>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= partial 'partials/pre-defined/contact_items' %>
</nav>
