<h4 class="heading heading_subheading"><%= page_link.page_heaading %></h4>
<%= Kramdown::Document.new(page_link.page_summary).to_html %></div>
<a href="/<%= page_link.url %>">More info about our <%= page_link.page_heaading %></a></p>
