<preview-form>
  <dialog id="dialog_credentials">
    <h3>Preview entry</h3>
    <form action="." method="dialog">
      <div class="form_row">
        <label for="text_space">Contentful Space:</label>
        <div class="form_field">
          <input type="text" id="text_space" name="space" required>
        </div>
      </div>
      <div class="form_row">
        <label for="text_token">Contentful Token:</label>
        <div class="form_field">
          <input type="text" id="text_token" name="token" required>
        </div>
      </div>
      <div class="form_row">
        <label for="text_entry_id">Entry ID:</label>
        <div class="form_field">
          <input type="text" id="text_entry_id" name="entry_id" required>
        </div>
      </div>
      <div class="form_row form_actions">
        <button type="submit">Save</button>
      </div>
    </form>
  </dialog>
</preview-form>
