<% if products && products.count > 0 %>
<ul class="media_block_list product_page_summary_list">
  <% products.each do |p_id, prod| %>
  <li class="product_page_summary">
    <%= partial 'partials/product_page_summary', locals: { product: prod.blank? ? p_id : prod } %>
  </li>
  <% end %>
</ul>
<% end %>
