<% if products && products.count > 0 %>
<ul class="product_summary_list">
  <% products.each do |p_id, prod| %>
  <li class="product_summary">
    <%= partial 'partials/product_summary', locals: { product: prod ? prod : p_id } %>
  </li>
  <% end %>
</ul>
<% end %>
