<a href="<%= product.slug %>" class="media_block">
  <%= "<img class=\"mb_image product_image\" src=\"#{product.photo.url}?w=400\" alt=\"#{product.title}\">" if product.photo %>
  <div class="mb_content product_content">
    <h4 class="heading heading_subheading"><%= product.title %></h4>
    <%= Kramdown::Document.new(product.summary).to_html %>
  </div>
</a>
