<div class="media_block">
  <div class="mb_content product_content">
    <h4 class="heading heading_subheading"><%= product.title %></h4>
    <%= Kramdown::Document.new(product.summary).to_html %>
  </div>
  <% if product.photo %>
  <div class="mb_image">
    <%= "<img class=\"product_image\" src=\"#{product.photo.url}?fm=jpg&fl=progressive&q=70&w=800\" alt=\"#{product.title}\">" %>
  </div>
  <% end %>
</div>
