<% if services && services.count > 0 %>
<ul class="service_summary_list">
  <% services.each do |s_id, service| %>
  <li class="service_summary">
    <%= partial 'partials/services_summary', locals: { service: service.blank? ? s_id : service } %>
  </li>
  <% end %>
</ul>
<% end %>
