<a href="<%= service.slug %>" class="media_block">
  <%= "<img class=\"mb_image service_image\" src=\"#{service.photo.url}?w=400\" alt=\"#{service.title}\">" if service.photo %>
  <div class="mb_content service_content">
    <h4 class="heading heading_subheading"><%= service.title %></h4>
    <%= Kramdown::Document.new(service.summary).to_html %>
  </div>
</a>
