<% if services && services.count > 0 %>
<ul>
  <% services.each do |s_id, service| %>
  <li><%= partial 'partials/services_summary', locals: { service: service ? service : s_id } %></li>
  <% end %>
</ul>
<% end %>
