.header_masthead {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $colour_header_background;
  max-width: $width_faux_column;
  margin: 0 auto;
  color: #fff;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    background-color: $colour_header_background;
    z-index: -1;
  }

  .heading_page {
    color: #fff;
    text-align: center;
    line-height: 1.25;
    font-size: 2rem;
  }
}

.masthead_content {
  min-height: 40vw;
  max-height: 50vh;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  box-shadow: inset 0 0 50px rgba(0,0,0,.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;

  > * {
    flex-basis: auto;
    margin: 1.5rem auto;
    padding: 0 1.5rem;
    max-width: 40rem;
  }
}
