.masthead {
  display: block;
  width: 100%;
  object-fit: cover;
}

.masthead_content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 20px;
  color: $colour_primary;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba($color: #000000, $alpha: 0.4);
  max-width: 1080px; //Maybe create a variable for max width breakpoint + 40px
  min-height: 300px;
  margin: 0 auto;

    h1 {
      font-size: 32px;
      color: $colour_body-background;
      text-wrap: balance;
      text-shadow: rgba($color: #000000, $alpha: 0.2) 0 0 10px;
    }
    p {
      font-size: 18px;
      line-height: 1.4;
      color: $colour_body-background;
      text-wrap: pretty;
      text-shadow: rgba($color: #000000, $alpha: 0.2) 0 0 6px;
    }
    @media (min-width: 600px) {
      aspect-ratio: 2 / 1;
    }
    @media (min-width: 1020px) {
      padding: 60px;
    }
    @media (min-width: 1080px) {
      border-radius: 20px;
    }
}

