.media_block {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }

  .mb_image img {
    border-radius: 20px;
    aspect-ratio: 1;
    object-fit: cover;
    margin: 20px;
    max-width: 250px;
    @media (min-width: 640px) {
      margin: 0;
      padding-left: 0;
    }

  }

  .mb_content {
    color: $colour_black;
    padding: 0 $spacing_gutter;
    order: 2;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-wrap: pretty;

    .call_to_action {
      margin-top: 1rem;
      max-width: 100%;
      margin-top: auto;
      text-align: right;
    }

    div {
      margin: 0;
    }
  }

  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
    gap: 40px;

    .mb_image {
      order: 2;
    }

    .mb_content {
      padding: 0;
      flex-grow: 1;
      line-height: 1.5;
      order: 1;

      &::before {
        margin-top: 0;
      }

      .heading {
       // margin-bottom: $spacing_gutter;
      }

      .call_to_action {
        text-align: right;
      }
    }
  }
}

a.media_block {
  color: inherit;
  text-decoration: none;
}

.page_products .media_block{
  background-color: $color_white;
  padding: 20px;
   border-radius: 0;
  img {
    border-radius: 5px;
  }
  @media (min-width: 640px) {
    border-radius: 20px;
  }
}
