.media_block {
  display: block;

  .mb_image {

  }

  .mb_content {
    padding: $spacing_gutter;

    &::before {
      content: '';
      width: 4rem;
      height: 1px;
      background-color: $colour_orange_highlight;
      display: block;
      margin-top: $spacing_gutter;
      margin-bottom: $spacing_gutter;
    }
  }

  @media (min-width: 640px) {
    .mb_image {
      margin-left: $spacing_gutter;
    }

    .mb_content {
      margin-top: 0;
    }
  }
}
