.notice {
  padding: 1rem;
  font-size: .875rem;
  border-radius: .25rem;

  h2 {
    font-size: .875rem;
  }

  .n_content {
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }

  &[data-type="Info"] {
    background-color: mix(#c6dbf9, white, 50%);
  }
  &[data-type="Warning"] {
    background-color: mix(rgb(255, 204, 0), white, 50%);
  }
}
