$notice_padding: 1rem;
$notice_img_size: 1.5rem;

.notice {
  padding: 1rem;
  font-size: .875rem;
  max-width: $width_faux_column;
  margin: 0 auto;
  color: #fff;

  a {
    color: inherit;
  }

  h2 {
    font-size: .875rem;
    margin-bottom: .25rem;
  }

  .n_content {
    color: #ddd;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &[data-type] {
    position: relative;
    padding-left: $notice_padding + $notice_img_size + $notice_padding;

    svg {
      fill: currentColor;
      width: $notice_img_size;
      height: $notice_img_size;
      position: absolute;
      top: $notice_padding;
      left: $notice_padding;
    }
  }

  &[data-type="Info"] {
    background-color: #2e5286;
  }

  &[data-type="Warning"] {
    background-color: #a25b00;
  }
}
