.page_intro {
  font-size: 1.25rem;
  padding-top: ($spacing_gutter*2);
  padding-right: $spacing_gutter;
  padding-bottom: $spacing_gutter;
  padding-left: $spacing_gutter;
  max-width: $width_faux_column;
  margin: 0 auto;

  > *:first-child {
    margin-top: 0;
  }

  > *:only-child {
    margin-bottom: 0;
  }
}
