photo-switcher {
  > figure {

  }
  > ul {
    list-style-type: '';
    margin: 0;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    a {
      display: block;
      cursor: pointer;
    }
  }
}
