photo-switcher {
  picture,
  > ul a {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
  }

  figcaption {
    display: none;
  }

  > ul {
    list-style-type: '';
    margin: 0;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    a {
      max-block-size: 64px;
      max-inline-size: 64px;
      cursor: pointer;
    }
  }
}
