.product_summary {
  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  .product_image {
    max-width: 240px;
  }

  .product_content {

  }

  @media (min-width: 640px) {

  }
}
