body > nav {
  box-sizing: border-box;

  [type="checkbox"] {
    position: absolute;
    top: 0;
    z-index: -1;
  }

  label {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    width: 3rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    color: #fff;
    font-size: .75rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    svg {
      width: 2rem;
      height: 2rem;
      margin: 0 auto .25rem;
    }

    @media (min-width: $breakpoint_partial_navigation) {
      @include a11y;
    }
  }

  @media (min-width: $breakpoint_partial_navigation) {
    position: absolute;
    top: 0;
    right: 0;
    left: $width_header_logo;
    height: $height_header;
  }

  @media (min-width: $breakpoint_faux_column) {
    left: auto;
    right: 50%;
    width: $width_faux_column - $width_header_logo;
    margin-right: -($width_faux_column / 2);
  }
}

#menu {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  top: $height_header;
  background-color: $colour_header_background;
  transform: translateY(-100%);
  transition: transform .1s ease-in-out;

  :checked ~ & {
    transform: translateY(0);
  }

  a {
    color: #fff;
  }

  > li {
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
    border-bottom: $colour_orange_highlight solid 1px;

    &:last-child {
      border-bottom: none;
    }

    & > * {
      display: block;
      text-decoration: none;
      padding: .75rem;
      font-size: .875rem;
    }
  }

  strong {
    color: $colour_orange_highlight;
  }


  @media (min-width: $breakpoint_partial_navigation) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: none;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 3;

    > li {
      flex: 0 0 auto;
      border-bottom: none;
      margin: 0;

      & + li {
        margin-top: 0;
        margin-left: .5rem;
        border-top: none;
      }

      > * {
        padding: .5rem 1rem;
      }
    }
  }

  @media (min-width: $breakpoint_full_navigation) {
    right: $width_header_contact;
  }

  @media (min-width: $breakpoint_faux_column) {
    right: $width_header_contact;
    width: $width_faux_column - $width_header_contact - $width_header_logo;
  }

  & + ul {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: .875rem;
    padding-right: $spacing_gutter;

    li {
      margin: .5em 0;
    }

    @media (min-width: $breakpoint_full_navigation) {
      display: block;
      right: 0;
    }

    @media (min-width: $breakpoint_faux_column) {
      left: auto;
      padding-right: 0;
    }
  }
}
