body > footer {
  background-color: $colour_header_background;
  color: #fff;

  h2 {
    border-bottom: #ccc solid 1px;
    padding-bottom: 1rem;
    display: inline-block;
  }

  a {
    color: $colour_orange_highlight;
  }

  ul {
    list-style: none;
    margin: 2rem 0 0;
    padding: 0;
  }

  li {
    margin: .25rem 0;
  }

  .faux_column {
    padding-top: $spacing_gutter;
    padding-right: $spacing_gutter;
    padding-bottom: $spacing_gutter;
    padding-left: $spacing_gutter;

    & + .faux_column {
      margin-top: $spacing_gutter;
      padding-top: 0;
    }
  }

  .fine_print {
    font-size: .75rem;
    color: #bbb;
  }

  @media (min-width: $breakpoint_faux_column) {
    position: relative;

    .faux_column {
      padding-left: 0;
      padding-right: 0;

      & + .faux_column {
        position: absolute;
        bottom: 0;
        right: 50%;
        margin-right: -($width_faux_column / 2);
      }
    }
  }
}
