body > nav {
  margin: 0 auto;
  background-color: $colour_header_background;
  box-sizing: border-box;

  [type="checkbox"] {
    position: absolute;
    z-index: -1;
  }

  label {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    width: 3rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    color: #fff;
    font-size: .75rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    &::before {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      margin: 0 auto .25rem;
      background-image: image-url('icon_menu.svg');
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media (min-width: $breakpoint_full_navigation) {
      @include a11y;
    }
  }
}

#menu {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  background-color: $colour_header_background;
  transform: translateY(-100%);
  transition: transform .1s ease-in-out;

  :checked ~ & {
    transform: translateY(0);
  }

  a {
    color: #fff;
  }

  li {
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
    border-bottom: $colour_orange_highlight solid 1px;

    &:last-child {
      border-bottom: none;
    }
  }

  li > * {
    display: block;
    text-decoration: none;
    padding: .75rem;
    font-size: .875rem;
  }

  strong {
    color: $colour_orange_highlight;
  }

  @media (min-width: $breakpoint_full_navigation) {
    display: flex;
    flex-direction: row;
    transform: none;
    top: 3rem;
    left: 17rem;
    transform: translateY(-50%);

    li {
      flex: 0 0 auto;
      border-bottom: none;
      margin: 0;
      max-width: 100%;

      & + li {
        margin-top: 0;
        margin-left: .5rem;
        border-top: none;
      }

      > * {
        padding: .5rem 1rem;
      }
    }
  }
}
