body > footer {
  background-color: $colour_primary;
  color: #f6f3e8;
  padding: 60px 20px 100px 20px;

  h2 {
    color: $colour_body-background;
    border-bottom: #ccc solid 1px;
    padding-bottom: 1rem;
    display: inline-block;
  }

  svg {
    fill: white;
  }

  ul {
    list-style: none;
    margin: 2rem 0 0;
    padding: 0;
  }

  li {
    margin: .4rem 0;
  }

  .faux_column {
    padding-top: $spacing_gutter;
    padding-right: $spacing_gutter;
    padding-bottom: $spacing_gutter;
    padding-left: $spacing_gutter;

    & + .faux_column {
      margin-top: $spacing_gutter;
      padding-top: 0;
    }
  }

  .faux_column.fine_print p {
    font-size: 1.75rem;
    color: #f6f3e8;
  }

  @media (min-width: $breakpoint_faux_column) {
    position: relative;

    .faux_column {
      padding-left: 0;
      padding-right: 0;

      & + .faux_column p {
        float: right;
      }
    }
  }
}
