.site-nav {
  padding: 0 20px;
  position: relative;
}

#mobile-menu-state {
  display: none;
}

#mobile-menu-state:checked ~ * .menu {
  display: flex;
}



.site-nav div {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $breakpoint_faux_column;
  margin: 0 auto;
  padding: 20px 0;
}

.site-nav .logo {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  width: fit-content;
  clear: right;

  .logo_queen_crown {
    max-width: 45px;
    max-height: 100px;
  }

  .logotype {
    max-width: 120px;
    max-height: 50px;
    margin-left: 10px;
  }

  svg {
    fill: $colour_primary;
  }
}

.site-nav nav {
  display: flex;
  align-items: center;

  label {
    display: none;
    width: 25px;
    height: 22px;
    border: none;
    font-size: 1.5em;
    overflow: visible;
    cursor: pointer;
    .icon_menu {
      height: 40px;
      width: 40px;
      stroke: $colour_primary;
      display: block;
    }
  }

  .menu {
    display: flex;
    gap: 40px;
    list-style: none;
    z-index: 10;
    padding: 20px 0;
    li {
      text-align: center;
      font-weight: 500;
      a {
        text-decoration: none;
        color: $colour_primary;
      }
      strong {
        color: $colour_primary;
        border-bottom: solid 3px $colour_secondary;
        padding: 6px 0;
      }
    }
  }
  @media (max-width: 700px) {
    .menu {
      display: none;
      position: absolute;
      padding: 20px 0 40px 0;
      right: 0;
      top: 140px; //Height of navbar
      width: 100%;
      flex-direction: column;
      width: 100%;
      background-color: $colour_body-background;
      border-bottom: $colour_secondary 6px solid;
    }
    label {
      display: block;
    }
  }
}