body > header {
  max-width: $faux_column_width;
  margin: 0 auto;
  background-color: mix(#666, #e47615, 25%);
  padding: 1rem;
  box-sizing: border-box;
  border-radius: .25rem .25rem 0 0;

  h1 {
    font-size: 1.5rem;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}
