body > header {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $colour_header_background;
  position: relative;
  height: 92px;
  z-index: 2;

  h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: .05em;
    max-width: 14rem;
    padding: 1rem;
    position: absolute;
    z-index: 1;

    @media (min-width: $breakpoint_faux_column) {
      left: 50%;
      margin-left: -($width_faux_column/2);
    }
  }

  a {
    flex: auto;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 0 0 2.5rem;
    position: relative;

    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: $logo_width;
      height: $logo_height;
    }
  }
}
