.testimonial {
  padding: $spacing_gutter;
  color: $colour_primary;
  text-align: center;

  figure {
    //max-width: $width_faux_column;
    //padding: $spacing_gutter $spacing_gutter ($spacing_gutter*2);
    margin: 0 auto;
    //border: $colour_primary 1px solid;
    //border-radius: 20px;
  }

  blockquote {
    font-style: italic;
    font-size: 1.25rem;
    text-align: center;

    p {
      margin: 0 auto;
      text-wrap: pretty;
    }

    > :first-child {
      &::before {
        content: '“';
      }
    }

    > :last-child {
      &::after {
        content: '”';
      }
    }
  }

  figcaption {
    img {
      max-width: 80px; 
      aspect-ratio: 1;
      border-radius: 100%;
      object-fit: cover;
    }

    cite {
      margin-top: 10px;
      display: block;
      color: $colour_black;
      font-style: normal;
      
    }
  }
}

.testimonials_list {
  margin-bottom: 60px;
}
