$path_fonts: '/fonts/' !default;
$path_images: '/img/' !default;

$panel_border_style: solid;
$panel_border_colour: #ccc;
$panel_border_width: 1px;
$panel_border: $panel_border_colour $panel_border_width $panel_border_style;

$colour_header_background: #151515;
$colour_orange_highlight: #FF7F00;

$colour_primary: #3D594B;
$colour_secondary: #FFD87C;
$colour_secondary-hover: #ffdf96;
$colour_secondary-dark: #582900;
$colour_body-background: #f6f3e8;
$colour_black: #333333;
$color_white: #f9f8f5;


$spacing_gutter: 20px;
$spacing_gutter_wide: 2rem;

$height_header: 92px;
$width_header_logo: 260px;
$width_header_contact: 260px;
$width_faux_column: 960px;

$logo_height: 60px;
$logo_width: 25px;

$breakpoint_medium_gutters: 640px;
$breakpoint_partial_navigation: 720px;
$breakpoint_full_navigation: 860px;
$breakpoint_faux_column: 960px;
