html {
  font-size: 16px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: greyscale;

}

body {
  margin: 0;
  background-color: $colour_body-background;
}

p {
  max-width: 35em;
  text-wrap: pretty;
}

b,
strong {
  font-family: Quicksand;
  font-weight: 700;
}

abbr {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

nav {
  h2 {
    @include a11y();
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

svg {
  max-width: 100%;
}
