.form_row {

  label {
    color: $colour_orange_highlight;

    span {
      color: #999;
      font-size: .875rem;
    }
  }

  input,
  textarea {
    display: block;
    width: 100%;
    max-width: 20rem;
    padding: .5rem;
    font-size: 1rem;
    font-family: map-get($font_headings, 'family_name'), Helvetica, Arial, 'Droid Sans', sans-serif;
    -webkit-appearance: none;
    background-color: #fefefe;
    border: #ddd solid 1px;
    border-radius: .25rem;
  }

  & + .form_row {
    margin-top: 2rem;
  }

  .button {
    font-size: 1.25rem;
    border-radius: .25rem;
  }
}
