fieldset {
  border: none;
  padding: 0;
  margin-block: 1rem;
}

legend {
  @include hide_text;
}

.form_row {

  label {
    color: $colour_orange_highlight;

    span {
      color: #999;
      font-size: .875rem;
    }
  }

  input:is(
    [type="text"],
    [type="email"],
    [type="number"],
    [type="tel"],
    [type="date"]
  ),
  textarea {
    display: block;
    width: 100%;
    max-width: 20rem;
    padding: .5rem;
    font-size: 1rem;
    font-family: map-get($font_headings, 'family_name'), Helvetica, Arial, 'Droid Sans', sans-serif;
    -webkit-appearance: none;
    background-color: #fefefe;
    border: #ddd solid 1px;
    border-radius: .25rem;
    box-sizing: border-box;
  }

  & + .form_row {
    margin-top: 2rem;
  }

  .button {
    font-size: 1.25rem;
    border-radius: .25rem;
  }
}

.form_field > ul {
  @include list_stripped;

  & li {
    margin-block: 0.25rem;
  }

  & label {
    display: inline-flex;
    align-items: start;
    column-gap: 0.5rem;
  }

  & :is(
    [type="radio"],
    [type="checkbox"]
  ) {
    margin-block-start: 0.25em;
  }
}
