.heading {
  font-weight: map-get($font_headings, 'weight');
  line-height: 1;
}

.heading_page {
  font-size: 2rem;
}

.heading_subheading {
  font-size: 1.375rem;
}

.heading_paragraph {
  font-size: 1.25rem;
}
