.heading {
  font-family: map-get($font_headings, 'family_name'), 'Helvetica', 'Arial', 'Droid Sans', 'sans-serif';
  font-style: normal;
  font-weight: map-get($font_headings, 'weight');
}

.heading_paragraph {
  font-size: 1rem;
}
