a {
  &:visited {
    color: inherit;
  }
  color: #f6f3e8;
}

.link_phone,
.link_email {
  text-decoration: none;

  svg {
    fill: #f6f3e8;
    height: 1em;
    max-width: 1em;
    vertical-align: middle;
    margin-right: .5em;
  }

  span {
    vertical-align: middle;
    transition: border-color .2s ease-in;
    border-bottom: 1px solid rgba($colour_primary, .001);
  }

  &:hover {
    span {
      border-bottom-color: $colour_primary;
    }
  }
}

article a {
  color: $colour_primary;
}
