.page_home {
  section {
    padding: 0 20px;
  }
}

.product-cards {
  max-width: $width_faux_column;
  margin: 60px auto;
  padding: 0 20px;
  h2 {
    margin-bottom: 20px;
  }
  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;

    @media (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colour_secondary;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  color: #582900;
  &:hover {
    background-color: #fddb8a;
    transition: all 200ms ease-in-out;

  }
  img {
    max-width: 100px;
    margin: 20px auto 30px auto;
  }
  h3 {
    font-weight: 700;
    color: $colour_secondary-dark;
  }
  p {
    color: $colour_secondary-dark;
    text-wrap: balance;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 14px;
    max-width: 20em;
  }
  &__link {
    display: block;
    margin-top: auto;
    width: 100%;
    text-transform: lowercase;
    font-weight: 900;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    text-align: end;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.page_home { //Change this to page_home before merging
  .page_link_summary_list{
    margin-bottom: 60px;
    padding: 0;
    max-width: 1080px;  // Wider than standard margin (Margin + 40px)
  }
  .page_link_summary {
    background-color: $color_white;
    border-radius: 0;
    overflow: hidden;
    padding: 20px 0;
    .service_content {
      padding: 20px 20px;
    }
    .mb_image {
      top: 0;
      bottom: 0;
      display: flex; // Fix height issue in Safari (Can't use height 100% on a element without a defined height)
    }
    img {
      border-radius: 20px;
      object-fit: cover;
    }
    @media (min-width: 640px) {
      padding: 0;
      img {
        border-radius: 0;
      }
      .service_content {
        padding: 60px 0 60px 20px;
      }
    }
    @media (min-width: 1000px) {
      border-radius: 20px;
      .service_content {
        padding: 60px 0 60px 60px;
      }
    }
  }
}