<% if content_for? :page_heading %>
<header class="product_page_header">
  <p><a href="/products/">Products</a></p>
  <h1 id="product-page-heading" class="heading heading_page"><%= yield_content :page_heading %></h1>
</header>
<% end %>
