<div class="page_content">
</div>

<template id="tmpl_list_products">
  <ul class="media_block_list product_summary_list"></ul>
</template>
<template id="tmpl_item_products">
</template>

<template id="tmpl_list_services">
  <ul class="media_block_list service_summary_list"></ul>
</template>
<template id="tmpl_item_services">
</template>

<template id="tmpl_list_biographies">
</template>
<template id="tmpl_item_biographies">
</template>

<template id="tmpl_list_testimonials">
  <ul class="list_stripped"></ul>
</template>
<template id="tmpl_item_testimonials">
  <li></li>
</template>
<template id="tmpl_single_testimonials">
  <article class="testimonial">
    <figure>
      <blockquote></blockquote>
      <figcaption>
        <img src="" alt="">
        <cite></cite>
      </figcaption>
    </figure>
  </article>
</template>

<script type="module" src="/mjs/preview_page.js"></script>
